@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600&display=swap");

$main-font: "Montserrat", sans-serif;
$light-grey: #f6f6f6;
$red: #ed553b;
$yellow: #ffce1a;
$grey: #6c6c6c;
$dark-blue: #0d0842;

body {
  font-family: $main-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  background: #fffffe;
  margin: 0;
}
* {
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
}
[class*="__container"] {
  max-width: 77rem;
  margin: 0 auto;
  @media (max-width: 1080px) {
    padding: 0 15px;
  }
}



